.slot-loading,
.slot-success,
.slot-error {
  font-size: 20px;
  .el-icon {
    position: absolute;
    z-index: 14;
    top: -2px;
    left: -5px;
    border-radius: 50%;
  }
}

.slot-success {
  color: var(--el-color-success);
}
.slot-error {
  color: var(--el-color-danger);
}
